---
import { Picture } from "@astrojs/image/components";
import { getFormattedDate } from "@utils/utils";
import BlogTags from "./BlogTags.astro";

const { post } = Astro.props;
---

<article>
  <a class="relative block group" href={post.url}>
    <div
      class="relative h-0 pb-[56.25%] overflow-hidden bg-zinc-400 dark:bg-inherit rounded-sm shadow-lg dark:shadow-none"
    >
      <Picture
        src={post.frontmatter.image}
        class="absolute inset-0 object-cover w-full h-full mb-6 rounded-sm shadow-lg bg-zinc-400 dark:bg-inherit dark:shadow-none"
        widths={[400, 900]}
        sizes="(max-width: 900px) 400px, 900px"
        alt={post.frontmatter.title}
        aspectRatio="16:9"
      />
    </div>
  </a>
  <div>
    <header>
      <h2
        class="text-xl sm:text-2xl font-semibold leading-snug my-3 text-zinc-800 dark:text-zinc-300"
      >
        <a class="no-underline" href={post.url}>
          {post.frontmatter.title}
        </a>
      </h2>
    </header>
    <p class="text-md sm:text-lg text-zinc-600 dark:text-zinc-400 flex-grow">
      {post.frontmatter.description}
    </p>
    <footer class="mt-4">
      <div class="mt-4">
        <BlogTags tags={post.frontmatter.tags} />
      </div>
      <div class="mt-2">
        <span class="text-sm text-zinc-600 dark:text-zinc-400">
          <time datetime={post.frontmatter.date}
            >{getFormattedDate(post.frontmatter.date)}
          </time>
        </span>
      </div>
    </footer>
  </div>
</article>
